<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaoweihao.architechturesample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity">

        </activity>
        <activity android:name="sviolet.seatselectionview.demo.SeatSelectionActivity">

        </activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.UtilActivity">

        </activity>
        <activity android:name=".ui.RegisterListView" />
        <activity android:name=".ui.UserInformation" />
        <activity android:name=".leave.LeaveListActivity" />
        <activity android:name=".leave.LeaveSubmit" />
        <activity android:name=".leave.LeaveShow" />

        <activity android:name=".course.CourseActivity" />
        <activity android:name=".course.SendNoti" />
        <activity android:name=".course.SubmitActivity" />
        <activity android:name=".course.QueryActivity" />
        <activity android:name=".seat.CreateActivity">

        </activity>
        <activity android:name=".seat.EnterActivity">

        </activity>
        <activity android:name=".seat.SeatRecActivity">

        </activity>
        <activity android:name=".course.QuerySelectActivity">

        </activity>
    </application>

</manifest>